*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;

}
h1{
    bottom: -10px;
    height: 2px;
    width: 40px;
    position: relative;
    content: "";
    display: block;
    text-align: center;
    margin-left: 40%;
    margin-top: 5%;
}

input[type=submit]:hover {
    background-color: #45a049;
  }
.contacting{
    border-radius: 5px;
    padding: 20px;
}

      
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=text], textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

.con{
    background-color: rgb(19, 141, 70);
    color: black;
    height: 1.6em;
    margin-top: 15px;
    text-align: center;
}