* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;

}

h2 {
    text-align: center;
    font-size: 25px;
    margin-top: 3%;
}

#ts {
    margin-top: 15px;
    margin-left: 50px;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 15px;
}

#is {
    margin-top: 15px;
    margin-left: 50px;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 15px;
}

#tech {
    color: black;
    margin-left: 80px;
    list-style-type: square;
}

#inter {
    color: black;
    margin-left: 80px;
    list-style-type: square;
}

.ski {
    background-color: rgb(19, 141, 70);
    color: black;
    height: 1.6em;
    margin-top: 20%;
    text-align: center;

}